<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock %} - Sudoku</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
</head>
  </head>
  <body onload="if (i = document.getElementById('username')) {i.focus();}">
    <h1><a href="{{ url_for('index') }}">Sudoku</a></h1>
    <div class="hamburger-menu">
      <input type="checkbox" id="menu-toggle"/>
      <label for="menu-toggle" class="hamburger-icon">
        <span></span>
        <span></span>
        <span></span>
      </label>
      <nav>
        <li><h3><a href="{{ url_for('index') }}">Sudoku</a></h3></li>
        <ul>
          {% if g.user %}
            <li><span>{{ g.user['username'] }}</span></li>
            <li><span>Solved puzzles: {{ g.solves }}</span></li>
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
            {% if g.room_key %}
            <li><a href="{{ url_for('room.leave') }}">Leave Room</a></li>
            {% endif %}
          {% else %}
            <li><a href="{{ url_for('auth.register') }}">Register</a>
            <li><a href="{{ url_for('auth.login') }}">Log In</a>
          {% endif %}
        </ul>
      </nav>
    </div>
    <section class="content">
      <header>
        {% block header %}{% endblock %}
      </header>
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </section>
  </body>
</html>
