/****** BEGIN RESET ******/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/****** END RESET ******/

body {
  background-color: #0e1e1e;
  color: rgb(255, 233, 217);
  font-family: "Courier New", Courier, monospace;
  overflow: hidden;
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
}

h1 {
  width: 100vw;
  font-size: 12vw;
  text-align: center;
  margin-top: 0.3em;
}

h1 a {
  text-decoration: none;
}

a:active {
  color: white;
}

h2 {
  text-align: center;
  font-size: 10vw;
  font-weight: 300;
}

.content h3 {
  text-align: center;
  font-size: 6vw;
  margin-block: 0.3em;
}

.hamburger-menu {
  position: fixed;
  top: 8vw;
  left: 6vw;
  z-index: 100;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
}

#menu-toggle {
  display: none;
}

.hamburger-icon {
  display: block;
  width: 7vw;
  height: 5vw;
  cursor: pointer;
  position: relative;
  z-index: 110;
}

.hamburger-icon span {
  display: block;
  width: 100%;
  height: 0.75vw;
  background-color: #cdcdcd;
  position: absolute;
  transition: all 0.2s ease;
}

.hamburger-icon span:nth-child(1) {
  top: 0;
}

.hamburger-icon span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.hamburger-icon span:nth-child(3) {
  bottom: 0;
}

#menu-toggle:checked + .hamburger-icon span:nth-child(1) {
  transform: rotate(45deg) translateY(3vw);
}

#menu-toggle:checked + .hamburger-icon span:nth-child(2) {
  opacity: 0;
}

#menu-toggle:checked + .hamburger-icon span:nth-child(3) {
  transform: rotate(-45deg) translateY(-3vw);
}

nav {
  position: fixed;
  top: 0;
  left: -65vw;
  width: 65vw;
  height: 100vh;
  background: #495054;
  transition: left 0.3s;
  z-index: 90;
}

#menu-toggle:checked ~ nav {
  left: 0;
}

nav ul {
  margin-top: 1vw;
  margin-left: 0.5vw;
  font-size: 5.2vw;
}

nav h3 {
  position: relative;
  top: -3vw;
  left: 17vw;
  font-size: 9vw;
}

nav a,
li {
  list-style: none;
  text-decoration: none;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#board {
  width: fit-content;
  display: flex;
  flex-direction: column;
  border: #333840 solid 15px;
  border-radius: 20px;
}

.row {
  display: flex;
  flex-direction: row;
}

.row,
.cell,
.cell p {
  margin-block: 0px;
  padding: 0px;
}

.cell {
  position: relative;
  font-size: 6vw;
  font-weight: 650;
  padding-inline: 3vw;
  padding-top: 0.4vw;
  border: #333840 solid 4px;
  background-color: #0c1515;
  user-select: none;
}

.cell span {
  position: absolute;
  display: block;
  font-size: 3.5vw;
}

.cell span:nth-of-type(1) {
  top: 0.1em;
  left: 0.3em;
}

.cell span:nth-of-type(2) {
  top: 0.1em;
  right: 0.3em;
}

.cell span:nth-of-type(3) {
  bottom: 0.1em;
  left: 0.3em;
}

.cell span:nth-of-type(4) {
  bottom: 0.1em;
  right: 0.3em;
}

.uneditable {
  background-color: #401f22;
}

.border-right {
  border-right: #333840 solid 12px;
}

.border-bottom {
  border-bottom: #333840 solid 12px;
}

#picker-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#picker-closer {
  opacity: 0%;
  height: 100vh;
  width: 100vw;
  z-index: 10;
}

.radio {
  display: none;
}

.tab {
  position: fixed;
  bottom: 24.3vh;
  z-index: 100;
}

#tab-picker-label {
  left: 1vw;
}

#tab-notes-label {
  right: 1vw;
}

.tab span {
  display: block;
  width: 49vw;
  height: 5vh;
  background-color: #495054;
  border: #59312d solid 10px;
  border-radius: 20px;
  position: relative;
  z-index: 101;
  text-align: center;
  padding-top: 0.35em;
  font-size: 5vw;
}

.radio:checked + .tab span {
  color: white;
  text-decoration: underline;
}

#tab-picker:checked ~ #picker {
  display: flex;
}

#tab-notes:checked ~ #picker-notes {
  display: flex;
}

#picker-notes {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  margin: auto;
  width: 100vw;
  height: 24vh;
  color: rgb(255, 220, 194);
  background-color: #333840;
  border: #59312d solid 15px;
  border-radius: 20px;
  display: none;
  flex-direction: column;
}

#picker {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  margin: auto;
  width: 100vw;
  height: 24vh;
  color: rgb(255, 220, 194);
  background-color: #333840;
  border: #59312d solid 15px;
  border-radius: 20px;
  display: none;
  flex-direction: column;
}

.picker-row {
  margin: auto;
  height: 6vh;
  display: flex;
  flex-direction: row;
}

.choice {
  margin: auto;
  width: 33vw;
  display: inline-block;
  padding: 0;
  text-align: center;
  z-index: inherit;
  font-size: 8vw;
}

.choice p {
  margin: 0;
}

#clear {
  width: 100vw;
  display: inline-block;
  text-align: center;
  font-size: 8vw;
  margin-top: -0.2em;
}

#clear p {
  margin: 0;
}

.highlighted {
  background-color: #396c65;
}

.selected {
  background-color: #6b627e;
}

.form {
  display: flex;
  flex-direction: column;
  width: 60vw;
  margin-left: 20%;
  margin-top: 10%;
  font-size: 6vw;
}

.form > * {
  margin-bottom: 5px;
}

.form input {
  height: 1.5em;
  border: #333840 solid 5px;
  border-radius: 20px;
  margin-bottom: 0.3em;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.form [type="submit"] {
  margin-top: 0.5em;
  font-size: 1.3em;
  font-weight: 700;
  padding: 5px;
}

.form input:active {
  border: #495054 solid 6px;
}

.selectable {
  user-select: text !important;
}

.flash {
  width: 100vw;
  font-size: 6vw;
  background-color: white;
  color: black;
  font-weight: 900;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 0.2em;
  margin-bottom: -1em;
  margin-top: 0.2em;
}